.menu-list { display:block; background:#eee;}
.menu-list li { display:inline-block; }
.menu-list li a {color:#eee; display: block; text-decoration: none;  font-size:16px; padding:15px; font-family:Verdana, Geneva, sans-serif;}

.rotate-links{ transition: all .07s linear; position: relative;}
.box-animation {transition: all .3s ease-out; position: absolute; }
.rotate-logo{ position: absolute; }
.rotate-search{ position: absolute; }
.rotate-social{ position: absolute; }

.roller .box-animation{transform: translateZ(-5px) rotateX(90deg);}
.roller2 .box-animation{transform: translateZ(-5px) rotateX(-90deg);}


.box-animation{ transition: all .3s ease-out; position: absolute; transform:translatez(-25px); transform-style:preserve-3d; }
.rotate-logo{ transform: rotatex(0deg) translatez(35px);  position: absolute; }
.rotate-search{ transform: rotatex(-90deg) translatez(25px); position: absolute; }
.rotate-social{ transform: rotatex(90deg) translatez(25px); position: absolute; }

.box-animation{transition:all .3s ease-out; position:absolute;  transform:translatez(-25px); transform-style:preserve-3d; top:0; left:0; display:block; width:100%; height:100%;}
.rotate-logo{transform:rotatex(0deg) translatez(35px); position:absolute; display:block; width:100%; height:100%;  top:0; left:0; height:50px;background:#07a0e7; padding:15px; color:white; box-sizing: border-box;}
.rotate-search{transform:rotatex(-90deg) translatez(25px); position:absolute; display:block; width:100%; height:100%;  top:0; left:0; height:50px;background:#a9c468; padding:15px; color:white; box-sizing: border-box;}
.rotate-social{transform:rotatex(90deg) translatez(25px); position:absolute; display:block; width:100%; height:100%;  top:0; left:0; height:50px; background:#a9c468; padding:15px; color:white; box-sizing: border-box;}

